.banner{
	width: 100%;
	height: 700px;
	background: url("../images/bannerlist.jpg") center;
}


/* .goodslist{
	dl{
		width: 220px;
		margin: 20px 11px 10px;
		border: 1px solid #eee;
		height: 322px;
		dt{
			height: 244px;
		    border: 0;
		    padding: 3px 0 3px;
		    position: relative;
		    text-align: center;
		    overflow:hidden;
		}
		dd{
			margin: 0 1px 1px;
		    border-top: 1px solid #f3f3f3;
		    height: 55px;
		    position: relative;
		    ul{
		    	width: 203px;
		    	height: 105px;
		    	padding: 5px 5px 5px 10px;
		    	position: absolute;
		    	left: 0;top: 0;
		    	overflow: hidden;
		    	li{
		    		height: 20px;
	    		    line-height: 20px;
	    		    overflow: hidden;
	    		    .price{color:#555;padding-right:1em;}
	    		    .del_price{text-decoration:line-through;color:#888;}
	    		    i{
	    		    	color: #f60;
    		    	    font-weight: 700;
    		    	    padding: 0 3px;
	    		    }
		    	}
		    }
		}
	}
} */


.goodslist{
	width: 1000px;
	margin: 60px auto;
	
    	dl{
    		display: inline-block;
		    width: 186px;
		    margin: 10px 2px;
		    background-color: #fff;
		    border:2px solid #fff;
		    dt{
		    	background-color:#fff;
		    	height: 160px;
			    text-align: center;
			    padding: 1px;
			    position: relative;
			    border-bottom:1px solid #ccc;
		    	a{
		    		padding: 0 11px;
		    		width: 100%;text-align: center;
	    		    display: block;
		    	}
		    	img{
		    		height: 160px;
	    		    width: 160px;
		    	}
		    }
		    ul{	
		    	background-color:#fff;
		    	width: 182px;
	    	    border: 2px solid #fff;
	    	    border-top: none;
	    	    padding: 0 0 4px 0;
	    	    height: auto;
	    	    overflow: visible;
	    	    .f1{
	    	    	white-space: nowrap;
    	    	    width: 186px;
	    	    	height: 36px;
    	    	    line-height: 18px;
    	    	    padding-top: 4px;
    	    	    padding-left: 4px;
    	    	    text-overflow: ellipsis;
	    	    }
	    	    .f2{
	    	    	height: 22px;
    	    	    line-height: 22px;
    	    	    padding-left: 3px;
    	    	    position: relative;
    	    	    .price{
    	    	    	padding-right: .3rem;
					    font-size: 18px;
					    font-family: Microsoft Yahei;
					    font-weight: 700;
					    color: #f00;
    	    	    }
    	    	    .del_price{color: #000;text-decoration: line-through;}
    	    	    .buy_btn{
    	    	    	display: block;
					    width: 65px;
					    height: 18px;
					    line-height: 18px;
					    text-align: center;
					    color: #fff;
					    background: #000;
					    position: absolute;
					    right: 3px;
					    bottom: 2px;
    	    	    }
	    	    }
		    }
    	}
    	dl:hover{
    		border:2px solid #f60;
    	}
    }